* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: 'Lucida Grande';
  justify-content: center;
  color: #cfd2d4;
}

.container {
  background-color: #0e4a82;
  border-radius: 25px;
  margin: 50px;
  padding: 50px;
}

.title {
  text-align: center;
}

.title span {
  color: #2d2e2e;
}

.action {
  margin-top: 25px;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
}

.reset-button {
  cursor: pointer;
}

.reset-button:hover {
  color: 2d2e2e;
}

.game-grid {
  display: grid;
  margin-top: 20px;
  background-color: #cfd2d4;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  cursor: pointer;
}

.cell {
  height: 200px;
  width: 200px;
  background: #0e4a82;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x::after {
  content: '✕';
  font-size: 120px;
}

.o::after {
  content: '○';
  font-size: 220px;
  color: #2d2e2e;
}

.won::after {
  color: red;
}

.x, .o {
  cursor: default;
}

@media only screen and (max-width: 1024px) {
  .game-grid {
    margin-top: 25px;
    grid-gap: 18px;
    }

    .cell {
      height: 150px;
      width: 150px;
    }

    .x::after {
      font-size: 150px;
    }

    .o::after {
      font-size: 175px;
    }
}

@media only screen and (max-width: 540px) {
  .container {
    margin: 25px;
    padding: 25px;
  }

  .cell {
    height: 100px;
    width: 100px;
  }

  .x::after {
    font-size: 100px;
  }

  .o::after {
    font-size: 125px;
  }

}